@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Jost-Black;
  src: url(/public/font/Jost-Black.ttf);
}

@font-face {
  font-family: Jost-Bold;
  src: url(/public/font/Jost-Bold.ttf);
}

@font-face {
  font-family: Jost-ExtraBold;
  src: url(/public/font/Jost-ExtraBold.ttf);
}

@font-face {
  font-family: Jost-Light;
  src: url(/public/font/Jost-Light.ttf);
}

@font-face {
  font-family: Jost-Medium;
  src: url(/public/font/Jost-Medium.ttf);
}

@font-face {
  font-family: Jost-SemiBold;
  src: url(/public/font/Jost-SemiBold.ttf);
}

/* From Uiverse.io by alexroumi */
.btnAll {
  padding: 15px 40px;
  border: unset;
  border-radius: 50px;
  color: white;
  z-index: 1;
  background: #05D666;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  letter-spacing: 2px;
}

.btnAll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #220CBB;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btnAll:hover {
  color: #e8e8e8;
}

.btnAll:hover::before {
  width: 100%;
}

@media screen and (max-width: 570px) {
  .btnAll {
    padding: 10px 30px;
    font-size: 1rem;
  }
  
}

.input {
  background: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}